<html>
	<h1>
		{{ .title }}
	</h1>
  <div>
  <form action="/" method="post">
    <p>Goal name <span> <input type="text" value="" id="name" placeholder="Listen American Accent Training"> </span></p>
    <p>Start date <span> <input type="date" value="" id="date_start"> </span>e.g. 2025/01/01 </p>
    <p>End date <span>  <input type="date" value="" id="date_end"> e.g. 2025/02/28</span></p>
    <p>Start number <span> <input type="number" value="1" id="start"> </span></p>
    <p>End number <span>  <input type="number" value="" id="end"> </span></p>
  </div>

  <di>
    <button type="submit" id="submit">Generate progress tracking sheet</button>
  </div>
</form>
</html>